h1{
    color: rgb(0, 0, 0);
}
#titulo{
    color: rgb(3, 103, 216);
}

.btn{
    background-color: aquamarine;
}

#contador {
    font-size: 5rem;
    font-weight: bold;
    margin: 20px;
    color: #2c3e50;
    transition: color 0.3s ease;
}

.cambiar {
    color: #f81cc8d2;
}

#incrementar {
    background-color: #27ae60;
}

#decrementar {
    background-color: #c0392b;
}