h1{
    color: aqua;
}
.titulo{
    color: blueviolet;
}
#titulo1{
    color: red;
}

.card{
    width: 300px;
    border: 1px solid #c61515;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    font-family: Arial, sans-serif;
}

.card img{
    width: 100%;
    border-radius: 4px;
}

.card h3{
    color: #333;
    margin: 10px 0;
}

.card p{
    color: #e63946;
    font-weight: bold;
}

.btn{
    background-color: aquamarine;
}
